.home {
  .options {
    .option {
      display: flex;
      background-color: #ededed;
      padding: 24px;
      margin-bottom: 24px;
      border-radius: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      &:active,
      &:focus,
      &:hover {
        background: rgba(0, 123, 255, 0.2);
      }
      .icon {
        display: flex;
        align-items: center;
        margin-right: 14px;
      }
      .mat-icon {
        margin: 0;
        font-size: 40px;
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
      h2 {
        font-size: 16px;
        margin-bottom: 6px;
      }
    }
  }
}
