@if (displayBackButton) {
<app-back-button route="/auth/validate-email"></app-back-button>
}
@if (display()) {
<div class="content-center validate-otp" [class.validate-otp-modal]="type == 'modal'" animate.enter="fade-in"
  animate.leave="fade-out">
  @if (type == 'modal') {
  <button matButton (click)="tooggleModal(false)" class="close-button">
    <mat-icon aria-hidden="false" aria-label="Cerrar" fontIcon="close_small"></mat-icon>
  </button>
  }
  <div class="title">
    <h1>Ingresa el código OTP</h1>
  </div>
  <div class="description">
    <p>Enviamos un código de verificación a tu correo electrónico.</p>
  </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="fields">
        <div class="field">
          <div class="otp-field">
            <div class="otp-fields">
              @for (digit of digits; track $index) {
              <input #otpInput [formControl]="digit" (input)="onOtpInput($event, $index, otpInput)"
                (keydown)="onOtpKeyDown($event, $index, otpInput)" (paste)="onOtpPaste($event)" type="number"
                inputmode="numeric" pattern="[0-9]*" maxlength="1" id="digit-{{$index}}" class="otp-input"
                autocomplete="off" />
              }
            </div>
            @if (form.invalid && form.touched) {
            <mat-error>El codigo otp es requerido.</mat-error>
            }
          </div>
        </div>
        <div class="field">
          <div class="otp-info">
            <div class="otp-timer">
              <p>el código de verificación vence en </p>
              <span class="opt-date">{{ formattedTime }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button matButton="filled">Siguiente</button>
      </div>
    </form>
  </div>
</div>
}