<app-back-button route="auth/login"></app-back-button>
<div class="content-center register-password" animate.enter="fade-in">
  <div class="title">
    <h1>Crea tu contraseña</h1>
  </div>
  <div class="form">
    <form [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="fields">
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="password" [type]="showPassword() ? 'password' : 'text'" id="password"
              autocomplete="password">
            <mat-icon class="show-password" (click)="togglePassword($event)">{{showPassword() ? 'visibility_off' :
              'visibility'}}</mat-icon>
            @if (form.controls['password'].hasError('required') ) {
            <mat-error>La contraseña es requerida.</mat-error>
            }
            @if (form.controls['password'].hasError('passwordWeak') ) {
            <mat-error>La contraseña debe incluir +8 caracteres, 1 mayuscula, 1 caracter especial y 1
              numero.</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput formControlName="confirmPassword" [type]="showConfirmPassword() ? 'password' : 'text'"
              id="confirmPassword" autocomplete="confirmPassword">
            <mat-icon class="show-password" (click)="toggleConfirmPassword($event)">{{showConfirmPassword() ?
              'visibility_off' :
              'visibility'}}</mat-icon>
            @if (form.controls['confirmPassword'].hasError('required') ) {
            <mat-error>Debes ingresar de nuevo la contraseña.</mat-error>
            }
            @if (form.controls['confirmPassword'].hasError('passwordsDontMatch')) {
            <mat-error>Las contraseñas no coinciden.</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      <div class="buttons">
        <button matButton="filled">Siguiente</button>
      </div>
    </form>
  </div>
</div>